
body {
	background: $green;
	font-family: sans-serif;
}

section#main {
	
	position: relative;


	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	
	}

}

section.portfolio {

	&:nth-of-type(even) {
		background: $white;
	}

	&:nth-of-type(odd) {
		background-color: whitesmoke;
	}

}