@import "burger";
@import "logo-bar";

.menu-button {
	display: inline-block;
	padding: .5em;
	//background-color: $green;
	border: 2px solid $gray;
	border-radius: rem-calc(2);
	float: right;
	width: 75px;
	height: 75px;
	box-sizing: border-box;
	text-decoration: none;
	color: $gray;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 100;

	a {
		p{
			transition: all 200ms ease-in;

			&:hover {
				transition: all 200ms ease-in;
				color: $white;

				@include text-shadow;
			}
		}
	}
	p {
			text-align: center;
			margin-top: 1.5em;
			transition: all 200ms ease-in;
			@include zona--semibold;
			text-transform: lowercase;

			&:hover {
				@include transition(100ms);
				color: $white;
				@include text-shadow;
			}
		

		}
	

}

.burger-icon {
	@include burger(25px, 3px, 5px, $gray);
	margin-left: auto;
	margin-right: auto;


}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;

	
}



.menu-box {
	width: 0;
	height: 0;
	overflow: hidden;
	transition: all 200ms ease;
	float: right;
	text-align: center;
	position: fixed;
	top: 10px;
	right: 87px;

	ul {
		margin-left: 0;
	}

	a{
		color: $gray;
		font-weight: 100;
		font-size: .9rem;
		
		text-decoration: none;
		transition: all 200ms ease-in;
		@include zona--regular;

		&:hover {
			transition: all 200ms ease-in;
		}
	}


}

.active {
	width: 225px;
	height: 75px;
	background: rgba(255,255,255, 0.65);
	transition: all 200ms ease;
	z-index: 99;
	
	li {

		&:nth-of-type(2) {

			a {
				border-left: 1px solid rgba(0,0,0, 0.2);
				border-right: 1px solid rgba(0,0,0, 0.2);
				-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
			}
		}
	}


	a {
		width: 33.33333%;
		height: 75px;
		display: inline-block;
		float: left;
		line-height: 75px;
		vertical-align: baseline;
		box-sizing: border-box;
	

		

		&:hover {
			background: $white;
			transition: all 200ms ease;
		}
	}
}