/* colors ============ */

$blue: #2fa4d4;
$green: #a2c13a;
$dark-green: #009933;
$light-green: #c4db72;
$white: #ffffff;
$trans-white: rgba(255,255,255, 0.5);
$offwhite: #f5f5f5;
$gray: #2d2d2d;
$about-gray: #b2b6b6;
$light-gray: #b0b0b0;
$super-light-gray: #ececeb;
$red: #dd5454;
$yellow: #efe147;

$purple: #372655;
$light-purple: #756b8c;

